<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-phFBWu2LONtznupYZAoHId4v53Rs-bs</string>
	<key>GCM_SENDER_ID</key>
	<string>414021499297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pankajCloudfirestore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pankajapp-945ba</string>
	<key>STORAGE_BUCKET</key>
	<string>pankajapp-945ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414021499297:ios:b4dd433c170444c868f3e0</string>
	<key>DATABASE_URL</key>
	<string>https://pankajapp-945ba-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>